#[link(name = "elasticsearch",
       vers = "0.1",
       uuid = "51a41dbe-d547-4804-8300-8a1b5d00d093")];
#[crate_type = "lib"];

extern mod std;
extern mod zmq;

use dvec::DVec;
use send_map::linear::LinearMap;
use std::json;
use std::map;
use std::map::HashMap;
use std::json::Json;
use std::net::url;
use std::cell::Cell;
use json::{ToJson, ToStr};

use zmq::{Context, Socket, ToStr};
