#[link(name = "elasticsearch",
       vers = "0.1pre",
       uuid = "51a41dbe-d547-4804-8300-8a1b5d00d093")];
#[crate_type = "lib"];

use std;
use zmq;
use uri;

import result::{ok, err};
import dvec::{dvec, extensions};
import std::json;
import std::map;
import std::map::{hashmap, str_hash};
import std::json::json;
import json::{to_json, to_str};

import zmq::{context, socket, socket_util, to_str};
import uri::encode_uri_component;
